<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Yaq.Core.Properties.Settings.queueConnectionString" connectionString="Server=.\sqlexpress;Initial Catalog=queue;Integrated Security=SSPI;Application Name=yaq" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<client>
			<endpoint address="http://localhost:54314/yaq.svc" binding="basicHttpBinding" contract="Yaq.Core.IMessageQueue" name="QueueServiceEndpoint" />
		</client>
	</system.serviceModel>
</configuration>